<center>
    <h3 ng-hide="value.myVar1">
        go to form
    </h3>
    <!-- API corona data - start -->
    <div ng-hide="value.myVar1">
        <div class="jumbotron jumbotron-fluid pb-1">

            <div class="container">
                <h1 class='text-center mb-4'>Corona Virus Worldwide Statistics</h1>
                <p>The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2).[1] The outbreak was first identified
                    in Wuhan, China, in December 2019.[4][6] The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020, and a pandemic on 11 March.[7][8] As of 27 June 2020, more than 9.86
                    million cases of COVID-19 have been reported in more than 188 countries and territories, resulting in more than 495,000 deaths; more than 4.98 million people have recovered</p>

                <div class="row text-center">
                    <div class="col-md-4 bg-warning text-black py-3">
                        <h3>Confirmed </h3>
                        <h5>{{alldata.confirmed.value}}</h5>
                    </div>
                    <div class="col-md-4 bg-success text-white py-3">
                        <h3>Recovered </h3>
                        <h5>{{alldata.recovered.value}}</h5>
                    </div>
                    <div class="col-md-4 bg-danger text-white py-3">
                        <h3>Deaths </h3>
                        <h5>{{alldata.deaths.value}}</h5>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <input type="text" class="form-control" ng-model='country' ng-change='countrywise()'>
                </div>
            </div>
            <div class="container" ng-if='country'>
                <h1 class='text-center'>{{country}} Statistics</h1>
                <div class="row text-center">
                    <div class="col-md-4 bg-warning text-black py-3">
                        <h3>Confirmed </h3>
                        <h5>{{alldataCountryWise.confirmed.value}}</h5>
                    </div>
                    <div class="col-md-4 bg-success text-white py-3">
                        <h3>Recovered </h3>
                        <h5>{{alldataCountryWise.recovered.value}}</h5>
                    </div>
                    <div class="col-md-4 bg-danger text-white py-3">
                        <h3>Deaths </h3>
                        <h5>{{alldataCountryWise.deaths.value}}</h5>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--API corona data - end-->
    <div style="padding:20px;">
        <div ng-switch="value.myVar2" style="width:400px;">
            <div ng-switch-when="Dogs" class="card">
                <img class="card-img-top" src="{{value.myVar2}}.png" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.myVar2 | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Dog" class="btn btn-primary">click here to know more about dogs</a>
                </div>
            </div>
            <div ng-switch-when="cats" class="card">
                <img class="card-img-top" src="{{value.myVar2}}.jpg" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.myVar2 | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Cat" class="btn btn-primary">click here to know more about cats</a>
                </div>
            </div>
        </div>
        <br>

        <div ng-switch="value.selectedName" style="width:400px">
            <div ng-switch-when="Pongal" class="card">
                <img class="card-img-top" src="{{value.selectedName}}.jpg" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.selectedName | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Pongal_(dish)" class="btn btn-primary">click here to know more about {{value.selectedName}}</a>
                </div>
            </div>
            <div ng-switch-when="Poori" class="card" style="width:400px">
                <img class="card-img-top" src="{{value.selectedName}}.jpg" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.selectedName | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Puri_(food)" class="btn btn-primary">click here to know more about {{value.selectedName}}</a>
                </div>
            </div>
            <div ng-switch-when="biriyani" class="card" style="width:400px">
                <img class="card-img-top" src="{{value.selectedName}}.jpg" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.selectedName | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Biryani" class="btn btn-primary">click here to know more about {{value.selectedName}}</a>
                </div>
            </div>
            <div ng-switch-when="Dosa" class="card" style="width:400px">
                <img class="card-img-top" src="{{value.selectedName}}.jpg" alt="Card image" style="width:300px;height:200px;">
                <div class="card-body">
                    <h4 class="card-title">{{value.selectedName | uppercase}}</h4>
                    <p class="card-text"></p>
                    <a href="https://en.wikipedia.org/wiki/Dosa_(food)" class="btn btn-primary">click here to know more about {{value.selectedName}}</a>
                </div>
            </div>
        </div>
    </div>

</center>