body {
    font-family: Helvetica;
    margin: 0;
}

.sidenav {
    height: 82vh;
    position: fixed;
    z-index: 2;
    top: 8vh;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* transition: 0.5s; */
    opacity: 0.5;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
    border: 1px solid grey;
    background-color: whitesmoke;
}


/* @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
} */